<div class="products-list-container">
  <app-list
    [items]="loading ? mocks : products"
    [pagination]="true"
    [totalRecords]="totalRecords"
    [listItemTemplate]="listItemTemplate"
    [gridItemTemplate]="gridItemTemplate"
    [sortOptions]="sortOptions"
    [layout]="layout"
    [listKey]="listKey"
    [sortKey]="sortKey"
    [backEndSearch]="true"
    (pageChanged)="onPageChange($event)"
    (filtered)="onFilteredChange($event)"
  ></app-list>
</div>

<ng-template #listItemTemplate let-product let-i="index">
  <div class="item-list-container" *ngIf="!loading">
    <div class="item-list-image">
      <div class="item-list-image-container">
        <img [src]="product.image" [alt]="product.name" />
        <p-tag
          [value]="product.inventoryStatus"
          [severity]="getSeverity(product)"
          class="item-list-status"
          [style.left.px]="4"
          [style.top.px]="4"
        ></p-tag>
      </div>
    </div>
    <div class="item-list-details">
      <div class="item-list-info-container">
        <div class="item-list-info">
          <div class="category">
            <i class="pi pi-tag" style="font-size: 0.8rem"></i>
            <small> {{ product.category }}</small>
          </div>
          <div class="rating">
            <p-rating
              [cancel]="false"
              [stars]="5"
              [readonly]="true"
              [(ngModel)]="product.rating"
            ></p-rating>
          </div>
        </div>
        <div class="item-list-name">{{ product.name }}</div>
        <div class="item-list-description">{{ product.description }}</div>
      </div>
      <div class="item-list-action">
        <div class="item-list-price">{{ product.price | currency }}</div>
        <p-button
          icon="pi pi-shopping-cart"
          class="flex-auto md:flex-initial white-space-nowrap"
          [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
        ></p-button>
      </div>
    </div>
  </div>
  <div class="item-list-container" *ngIf="loading">
    <div [style]="{ height: '100%', width: '30%' }">
      <p-skeleton width="100%" height="100%"></p-skeleton>
    </div>
    <div class="item-list-details">
      <div class="item-list-info-container">
        <div class="item-list-info" style="width: 100%; height: 20px">
          <div class="category">
            <p-skeleton width="100%" height="100%"></p-skeleton>
          </div>
          <div class="rating">
            <p-skeleton width="60%" height="100%"></p-skeleton>
          </div>
        </div>
        <div class="item-list-name">
          <p-skeleton width="30%" height="20px"></p-skeleton>
        </div>
        <div class="item-list-description">
          <p-skeleton width="100%" height="20px"></p-skeleton>
        </div>
      </div>
      <div class="item-list-action" style="width: 10%; height: 100%">
        <div style="width: 100%; height: 30%">
          <p-skeleton width="100%" height="100%"></p-skeleton>
        </div>

        <div style="width: 100%; height: 30%">
          <p-skeleton width="100%" height="100%"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #gridItemTemplate let-product let-i="index">
  <div class="item-grid-container" *ngIf="!loading">
    <div class="item-grid-image">
      <div class="item-grid-image-container">
        <img [src]="product.image" [alt]="product.name" />
        <p-tag
          [value]="product.inventoryStatus"
          [severity]="getSeverity(product)"
          class="item-grid-status"
          [style.left.px]="4"
          [style.top.px]="4"
        ></p-tag>
      </div>
    </div>
    <div class="item-grid-details">
      <div class="item-grid-info">
        <div class="category">
          <i class="pi pi-tag" style="font-size: 0.8rem"></i>
          <small> {{ product.category }}</small>
        </div>
        <div class="rating">
          <p-rating
            [cancel]="false"
            [stars]="5"
            [readonly]="true"
            [(ngModel)]="product.rating"
          ></p-rating>
        </div>
      </div>
      <div class="item-grid-name">{{ product.name }}</div>
      <div class="item-grid-description">{{ product.description }}</div>
      <div class="item-grid-action">
        <div class="item-grid-price">{{ product.price | currency }}</div>
        <p-button
          icon="pi pi-shopping-cart"
          class="flex-auto md:flex-initial white-space-nowrap"
          [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
        ></p-button>
      </div>
    </div>
  </div>
  <div class="item-grid-container" *ngIf="loading">
    <!-- <div class="item-grid-image"></div> -->
    <p-skeleton width="100%" height="60%"></p-skeleton>
    <div class="item-grid-details">
      <div class="item-grid-info">
        <div class="category">
          <p-skeleton width="100%" height="20px"></p-skeleton>
        </div>

        <div class="rating" style="min-width: 30%">
          <p-skeleton width="100%" height="20px"></p-skeleton>
        </div>
      </div>
      <div class="item-grid-name">
        <p-skeleton width="50%" height="20px"></p-skeleton>
      </div>
      <div class="item-grid-description">
        <p-skeleton width="100%" height="20px"></p-skeleton>
      </div>
      <div class="item-grid-action">
        <div class="item-grid-price">
          <p-skeleton width="100%" height="40px"></p-skeleton>
        </div>
        <p-skeleton width="50px" height="40px"></p-skeleton>
      </div>
    </div>
  </div>
</ng-template>
