<div class="table-items-container">
  <app-table
    [data]="products"
    [config]="cols"
    [editableRows]="true"
    [deletableRows]="true"
    [selectable]="true"
    [allowAdd]="true"
    [allowDelete]="true"
    [allowEdit]="true"
    [entity]="getClassEntity()"
    [lazy]="true"
    [totalRecords]="totalRecords"
    [loading]="loading"
    (saved)="onSave($event)"
    (deleted)="onDelete($event)"
    (lazyLoaded)="onLazyLoad($event)"
    createDialogTitle="Product Details"
  >
  </app-table>
</div>
